.n_tabs_container {
  display: flex;
  border-bottom: 1px solid #f0f0f0;
  transform: all 0.3s;
  position: relative;

  .n_tabs_tab {
    margin: 0 12px;
    font-size: 14px;

    .n_tabs_tab_btn {
      cursor: pointer;
      transition: all 0.3s;
      padding: 12px 0;

      &:hover {
        color: #49aeff;
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.n_tabs_tab_btn_active {
  color: #1890ff;
}

.n_tabs_active_bar {
  height: 2px;
  transition: all 0.5s cubic-bezier(0.71, 0.07, 0.14, 1.3);
  position: absolute;
  top: 99%;
  z-index: 99;
  background-color: #1890ff;
}

.n_tabs_tabPane_content {
  padding: 10px 0;
}


.n_tabs_tab_btn_disabled {
  cursor: not-allowed !important;
  color: #BFBFBF !important;

  &:hover {
    // color: #000 !important;
    color: #BFBFBF !important;
  }
}