@import "../../../assets/css/common.scss";

.n_switch {
  margin: 0;
  padding: 0;
  color: #000000d9;
  font-size: 14px;
  list-style: none;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  min-width: 44px;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  background-color: #00000040;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .n_switch_handle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 18px;
    height: 18px;
    transition: all 0.2s ease-in-out;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #fff;
      border-radius: 9px;
      box-shadow: 0 2px 4px #00230b33;
      transition: all 0.2s ease-in-out;
      content: "";
    }
  }

  .n_switch_inner {
    display: block;
    margin: 0 7px 0 25px;
    color: #fff;
    font-size: 12px;
    transition: margin 0.2s;
    display: flex;
    align-items: center;
  }
}

.n_switch_checked {
  background-color: $primary;

  .n_switch_handle {
    left: calc(100% - 18px - 2px);
  }

  .n_switch_inner {
    margin: 0 25px 0 7px;
  }
}

.n_switch_disabled {
  opacity: .4;
  cursor: not-allowed;
}
