.n_datePicker {
  position: relative;
}

.n_datePicker_panel_container {
  position: absolute;
  top: calc(100% + 5px);
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014,
    0 9px 28px 8px #0000000d;
  z-index: 100;
}

.n_picker_panel {
  color: #000000d9;

  .n_picker_header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    border-bottom: 1px solid #f0f0f0;

    .n_picker_header_text {
      font-size: 14px;
    }

    .n_picker_header_icon {
      padding: 7px 3px;
      cursor: pointer;
    }
  }

  .n_picker_panel_header {
    padding: 0 8px;
  }

  .n_picker_body {
    padding: 8px 12px;
    font-size: 14px;
    border-bottom: 1px solid #f0f0f0;

    .n_picker_content {
      width: 100%;
      border-collapse: collapse;

      .n_picker_tr_week {
        &:hover {
          background: #f5f5f5;
        }
      }

      td {
        position: relative;
        min-width: 24px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
      }

      .n_picker_cell {
        padding: 3px 0;
        color: #00000040;
        cursor: pointer;

        .n_picker_cell_inner {
          position: relative;
          z-index: 2;
          display: inline-block;
          min-width: 24px;
          height: 24px;
          line-height: 24px;
          border-radius: 2px;
          transition: background 0.3s, border 0.3s;

          &:hover {
            background-color: #f5f5f5;
          }
        }
      }

      .n_picker_cell_in_view {
        color: #000000d9;
      }

      .n_picker_cell_in_today {
        border: 1px solid #1890ff;
      }

      .n_picker_cell_active {
        background: #1890ff;
        color: #fff;

        &:hover {
          background: #1890ff !important;
          color: #fff;
        }
      }

      .n_picker_tr_active {
        background: #1890ff;

        td {
          color: #fff !important;
        }

        &:hover {
          background: #1890ff;
          color: #fff !important;
        }

        .n_picker_cell_inner {
          &:hover {
            background: #1890ff;
          }
        }
      }
    }

    // picker === "month"
    .n_picker_month {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      font-size: 400;
      width: 300px;
      background: #fff;

      .n_picker_month_item {
        min-height: 60px;
        box-sizing: border-box;
        padding: 6px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        width: 80px;

        .n_picker_month_inner {
          min-width: 24px;
          width: 60px;
          text-align: center;
          box-sizing: border-box;

          &:hover {
            background: #f5f5f5;
          }
        }

        .n_picker_month_inner_active {
          background: #1890ff;
          color: #fff;

          &:hover {
            background: #1890ff;
            color: #fff;
          }
        }
      }
    }

    // picker === "year"
    .n_picker_year {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      font-size: 400;
      width: 300px;
      background: #fff;

      .n_picker_year_item {
        min-height: 60px;
        box-sizing: border-box;
        padding: 6px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        width: 80px;

        .n_picker_year_inner {
          min-width: 24px;
          width: 60px;
          text-align: center;
          box-sizing: border-box;

          &:hover {
            background: #f5f5f5;
          }
        }

        .n_picker_year_inner_active {
          background: #1890ff;
          color: #fff;

          &:hover {
            background: #1890ff;
            color: #fff;
          }
        }
      }
    }
  }
}

.n_picker_month_text {
  cursor: pointer;
}

// RangePicker
.n_rangepicker {
  .n_rangepicker_container {
    .n_rangepicker_input {
      display: flex;
      align-items: center;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      padding: 4px;
      // display: flex;
      // align-items: center;
      box-sizing: border-box;
      // padding: ;
      position: relative;

      input {
        border: none;
        outline-style: none;
        width: 100%;
        line-height: 1.4rem;
      }

      .n_rangepicker_icon {
        margin: 0 8px;
      }

      .n_rangepicker_bar {
        bottom: -1px;
        height: 2px;
        margin-left: 11px;
        background: #1890ff;
        opacity: 0;
        transition: all 0.3s ease-out;
        pointer-events: none;
        position: absolute;
      }
    }
  }
}
