.n_datePicker {
  position: relative;
}

.n_datePicker_panel_container {
  position: absolute;
  top: calc(100% + 5px);
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014,
    0 9px 28px 8px #0000000d;
}

.n_picker_panel {
  color: #000000d9;

  .n_picker_header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    border-bottom: 1px solid #f0f0f0;

    .n_picker_header_text {
      font-size: 14px;
    }

    .n_picker_header_icon {
      padding: 7px 3px;
      cursor: pointer;
    }
  }

  .n_picker_panel_header {
    padding: 0 8px;
  }

  .n_picker_body {
    padding: 8px 12px;
    font-size: 14px;
    border-bottom: 1px solid #f0f0f0;

    .n_picker_content {
      width: 100%;

      td {
        position: relative;
        min-width: 24px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
      }

      .n_picker_cell {
        padding: 3px 0;
        color: #00000040;
        // color: #000000d9;
        cursor: pointer;

        .n_picker_cell_inner {
          position: relative;
          z-index: 2;
          display: inline-block;
          min-width: 24px;
          height: 24px;
          line-height: 24px;
          border-radius: 2px;
          transition: background 0.3s, border 0.3s;

          &:hover {
            background-color: #f5f5f5;
          }
        }
      }

      .n_picker_cell_in_view {
        color: #000000d9;
      }

      .n_picker_cell_in_today {
        border: 1px solid #1890ff;
      }

      .n_picker_cell_active {
        background: #1890ff;
        color: #fff;

        &:hover {
          background: #1890ff !important;
          color: #fff;
        }
      }
    }
  }
}
