.n_tooltip {
  position: relative;
}

.n_tooltip_content {
  position: relative;
  display: inline-flex;

  &:hover .n_tooltip_title {
    display: block;
  }

  .n_tooltip_title {
    white-space: nowrap;
    position: absolute;
    padding: 10px 15px;
    background-color: #000;
    color: #fff;
    top: -230%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    display: none;
    transition: all 2s;
    box-sizing: border-box;
    z-index: 6;

    &::after {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #000;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 100%;
    }
  }
}

.n_tooltip_children {
  display: inline-block;
}

.n_tooltip_title_topLeft {
  left: 0 !important;
  transform: translateX(0) !important;

  &::after {
    left: 20% !important;
  }
}

.n_tooltip_title_topRight {
  left: -90% !important;
  transform: translateX(0) !important;

  &::after {
    left: 80% !important;
  }
}

.n_tooltip_title_left {
  // left: -210% !important;
  left: none !important;
  top: 50% !important;
  transform: translateY(-50%) !important;

  &::after {
    border-top: 5px solid transparent !important;
    border-bottom: 5px solid transparent !important;
    border-left: 5px solid #000 !important;
    left: 100% !important;
    top: 50% !important;
    transform: translateX(-50%) !important;
    transform: translateY(-50%) !important;
  }
}

.n_tooltip_title_leftTop {
  top: 0 !important;
  left: none !important;
  // left: -110% !important;

  &::after {
    border-top: 5px solid transparent !important;
    border-bottom: 5px solid transparent !important;
    border-left: 5px solid #000 !important;
    left: 100% !important;
    top: 20% !important;
    transform: translateX(0%) !important;
  }
}

.n_tooltip_title_leftBottom {
  top: 0 !important;
  left: none !important;
  // left: -210% !important;
  // transform: translateY(-50%) !important;

  &::after {
    border-top: 5px solid transparent !important;
    border-bottom: 5px solid transparent !important;
    border-left: 5px solid #000 !important;
    left: 100% !important;
    top: 60% !important;
    transform: translate(0%, 0%) !important;
  }
}

.n_tooltip_title_right {
  left: 120% !important;
  top: 50% !important;
  transform: translateY(-50%) !important;

  &::after {
    border-top: 5px solid transparent !important;
    border-bottom: 5px solid transparent !important;
    border-right: 5px solid #000 !important;
    left: 0 !important;
    top: 50% !important;
    transform: translate(-100%, -50%) !important;
  }
}

.n_tooltip_title_rightTop {
  left: 220% !important;
  top: 0 !important;

  &::after {
    border-top: 5px solid transparent !important;
    border-bottom: 5px solid transparent !important;
    border-right: 5px solid #000 !important;
    left: 0 !important;
    top: 20% !important;
    transform: translate(-100%, 0%) !important;
  }
}

.n_tooltip_title_rightBottom {
  left: 110% !important;
  top: 0 !important;
  transform: translateY(-50%) !important;

  &::after {
    border-top: 5px solid transparent !important;
    border-bottom: 5px solid transparent !important;
    border-right: 5px solid #000 !important;
    left: 0 !important;
    top: 60% !important;
    transform: translate(-100%, -50%) !important;
  }
}

.n_tooltip_title_bottom {
  top: 130% !important;

  &::after {
    border-top: none !important;
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
    border-bottom: 5px solid #000 !important;
    top: 0 !important;
    transform: translate(-50%, -100%) !important;
  }
}

.n_tooltip_title_bottomLeft {
  top: 130% !important;

  &::after {
    border-top: none !important;
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
    border-bottom: 5px solid #000 !important;
    top: 0 !important;
    left: 20% !important;
    transform: translate(-50%, -100%) !important;
  }
}

.n_tooltip_title_bottomRight {
  top: 130% !important;

  &::after {
    border-top: none !important;
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
    border-bottom: 5px solid #000 !important;
    top: 0 !important;
    left: 80% !important;
    transform: translate(-50%, -100%) !important;
  }
}
