.n_tooltip {
  position: relative;
}

.n_tooltip_content {
  position: relative;
  display: inline-flex;

  &:hover .n_tooltip_title {
    display: block;
  }

  .n_tooltip_title {
    white-space: nowrap;
    position: absolute;
    padding: 10px 15px;
    background-color: #000;
    color: #fff;
    top: -230%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    display: none;
    transition: all 2s;
    box-sizing: border-box;
    z-index: 6;

    &::after {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #000;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 100%;
    }
  }
}

.n_tooltip_children {
  display: inline-block;
}
