.n_image {
  display: inline-block;
  position: relative;
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);

  &:hover .n_image_preview {
    display: block;
  }


  .n_image_preview {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000000, 0.6);
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);

    .n_image_preview_text {
      font-size: 14px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }
}
