@import "../assets/css/common.scss";

.n_select {
  position: relative;

  &.n_select_disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
  }

  .n_select_input_container {
    width: 100%;
    padding: 4px 0 4px 11px;
    border-radius: 2px;
    border: 1px solid $border;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    position: relative;
    cursor: pointer;

    &:hover {
      border: 1px solid $primary;
    }
  }

  .n_select_input {
    width: 100%;

    input {
      outline-style: none;
      width: 100%;
      box-sizing: border-box;
      border: none;
      cursor: pointer;
    }
  }

  .n_select_icon {
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  .n_select_options_container {
    position: absolute;
    width: 100%;
    top: 115%;
    left: 0;
    right: 0;
    z-index: 8;
    border: 1px solid $border;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
    padding: 6px 0;
    background-color: #fff;
    max-height: 210px;
    overflow-y: scroll;
    transition: all 2s;
  }
}

.n_select_option {
  padding: 6px 10px;
  background-color: #ffffff;
  transition: all 0.3s;
  font-size: 13px;
  cursor: pointer;
  box-sizing: border-box;

  .n_select_option_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &:hover {
    background-color: #f5f5f5;
  }

  &.n_select_option_active {
    background-color: #e6f7ff;
  }

  &.n_select_option_disabled {
    background-color: #fff;
    cursor: not-allowed;
    color: $border;

    &:hover {
      background-color: #fff;
    }
  }
}

.n_select_disabled {
  .n_select_input_container {
    cursor: not-allowed;

    &:hover {
      border: 1px solid $border !important;
    }

    .n_select_input {
      cursor: not-allowed;

      input {
        background-color: #f5f5f5;
        cursor: not-allowed;
        color: #b8b8b8;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 6px; /*对垂直流动条有效*/
  height: 6px; /*对水平流动条有效*/
}

/*定义滚动条的轨道颜色、内阴影及圆角*/
::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
}

/*定义滑块颜色、内阴影及圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: $border;
}

/*定义右下角汇合处的样式*/
::-webkit-scrollbar-corner {
  background: transparent;
}
